@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.btn {
    border-radius: 0 !important;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #2c3e50;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::selection {
    background: #000000 !important;
    color: #fafafa;
}


/* body {
    background: #e8e8e8;
} */

.appbody {
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
}

.section1 {
    width: 40%;
    overflow: auto;
    max-height: 75vh;
    display: flex;
    /* justify-content: center; */
    padding: 10px;
}

.sidebar {
    width: 90%;
}

.section2 {
    width: 60%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 999;
    height: 100%;
    padding-right: 50px;
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
}

#proposal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.headingInput::-webkit-input-placeholder {
    color: #fff;
}

.headingInput:-ms-input-placeholder {
    color: #fff;
}

.headingInput::placeholder {
    color: #fff;
}

.headingMissing::placeholder {
    color: red;
}

.headingMissing::-webkit-input-placeholder {
    color: red;
}

.headingMissing:-ms-input-placeholder {
    color: red;
}

.inputMissing::placeholder {
    color: red;
    font-size: 20px;
}

.inputMissing::-webkit-input-placeholder {
    color: red;
    font-size: 20px;
}

.inputMissing:-ms-input-placeholder {
    color: red;
    font-size: 20px;
}

.headingInput {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: 3px solid;
    border-bottom: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background-color: #2c3e50;
    color: #fff;
    border-color: #2c3e50;
    /* border-radius: 10px 10px 0 0; */
}

.singleProposalHeading {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 10px;
    /* border-radius: 10px 10px 0 0; */
    cursor: grab;
    margin: 0;
    background: #2c3e50;
    color: #fff;
    text-align: center;
}

.myTxt {
    font-family: monospace;
    border: 3px solid rgb(43, 62, 80);
    padding: 15px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

.myTxt2 {
    font-family: monospace;
    border: 3px solid rgb(43, 62, 80);
    padding: 15px;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
}

#addNewBtn {
    width: 100%;
    border: 0;
    background: #2c3e50;
    color: #fff;
    font-size: 30px;
    font-family: monospace;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px;
    margin-top: -7px;
    border-radius: 0;
}

button#copyBtn {
    position: absolute;
    background: #2c3e50;
    color: #fff;
    padding: 5px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all .3s ease-in;
}

button.copyImg {
    right: 26px;
    top: 20px;
    border-color: none;
}

button.copyImg:hover {
    background: #0a3d62 !important;
    border-color: #0a3d62;
}

button.deleteImg {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #2c3e50;
    color: #fff;
    padding: 5px 8px;
    border-color: black;
    width: 38px;
    overflow: hidden;
    transition: all .3s ease-in
}

button.deleteImg:hover,
button.update:hover {
    width: 100px !important
}

button.deleteImg:hover {
    background: #c0392b !important;
}

button.update:hover {
    background: green !important;
}

button.update {
    left: 10px;
    bottom: 45px;
    width: 38px;
    border-color: black;
}

.loading_spinner {
    display: flex;
    justify-content: center;
    height: 60vh;
    align-items: center;
}